/* @import "tailwindcss"; */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  font-family: system-ui, sans-serif;
}

/* This ensures the today cell in dark mode is white with black text */
/* Force black number text for today's cell in dark mode */
/* .dark .rbc-today .rbc-button-link {
  color: black !important;
}
.dark .rbc-today {
  background-color: rgb(0, 0, 0) !important;
} */

